Django==3.2.7
django-ckeditor==6.0.0
django-ckeditor-5==0.1.6
django-crispy-forms==1.12.0
django-debug-toolbar==2.2
django-dotenv==1.4.2
django-environ==0.9.0
django-social-share==2.2.1
django-static-fontawesome==5.14.0.0
django-taggit==3.0.0
gunicorn==20.0.4
Pillow==9.1.0
django-import-export
django-jazzmin
django-tailwind
django-allauth
psycopg2==2.9.9
pip==24.1.2
psycopg2-binary==2.9.1
asgiref==3.8.1
certifi==2024.2.2

distlib==0.3.8
Django==5.0.4
django-allauth==0.62.1
filelock==3.14.0
pillow==10.3.0
pipenv==2023.12.1
platformdirs==4.2.1
setuptools==69.5.1
sqlparse==0.5.0
tzdata==2024.1
virtualenv==20.26.1
psycopg2-binary==2.9.9
pip==24.1.2
